<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>OpenAPI Schema Validator</title>
</head>
<body>

    <form method="POST" class="container">
        <div class="left-column">
            <h1>OpenAPI Schema Validator</h1>
            <h2>Input OpenAPI Schema (JSON)</h2>
            <textarea name="openapi_schema" placeholder="Paste your OpenAPI schema here">{{ openapi_schema_data }}</textarea>
            <button type="submit">Submit</button>
        </div>
        <div class="right-column">
            {% if paths %}
                <h2>Select Path</h2>
                <label for="selected_path">Select Path:</label>
                <select name="selected_path">
                    {% for path in paths %}
                        <option value="{{ path }}" {% if selected_path == path %}selected{% endif %}>{{ path }}</option>
                    {% endfor %}
                </select>
                <button type="submit">Get Schema</button>
            {% endif %}
            {% if response_schema %}
                <h2>Validate Response</h2>
                <h3>Response Schema</h3>
                <pre>{{ response_schema | tojson(indent=2) }}</pre>
                <h3>Response Data to Validate:</h3>
                <textarea name="response_data" placeholder="Enter response data to validate">{{ response_data }}</textarea>
                <button type="submit">Validate</button>
            {% if response_validation_errors %}
            <div class="error">
                <h3>Validation Errors:</h3>
                <ul>
                    {% for error in response_validation_errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>

        {% endif %}
        {% endif %}
        </div>
        
    </form>
</body>
</html>